workflows/3LeAi3EkWSyHfJum.json
{
  "active": false,
  "connections": {
    "Code10": {
      "main": [
        [
          {
            "node": "Simulation_API10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simulation_API10": {
      "main": [
        [
          {
            "node": "OpenAI10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Izhikevich_2007": {
      "main": [
        [
          {
            "node": "Code10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "Izhikevich_2007",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Izhikevich_2007",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI10": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-02-14T17:20:14.544Z",
  "id": "3LeAi3EkWSyHfJum",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Izhikevich_2007",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "d9aed17a-7dc8-42e5-81f5-a86ff39714e6",
      "name": "Workflow Input Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Original-Response aus dem Input-Node\nconst response = $input.first().json.text;\n\n// Validierung: Sicherstellen, dass response ein String ist\nif (typeof response !== 'string') {\n  throw new Error(\"Response ist nicht definiert oder kein String.\");\n}\n\n// Regex zur Extraktion der Parameter und Werte\nconst regexParams = /\\b([a-zA-Z_]+(?:\\s*\\(.*?\\))?):\\s*([\\d.-]+)\\s*(?:\\*\\s*[a-zA-Z_()]+)?/g;\n\n// Alle Übereinstimmungen für Parameter finden\nconst matchesParams = [...response.matchAll(regexParams)];\n\n// Initialisiere ein Objekt zur Speicherung der Parameter\nconst parameters = {};\n\n// Parameterwerte aus Matches extrahieren\nmatchesParams.forEach(match => {\n  // Extrahiere den Parameter-Namen und den Wert\n  const paramName = match[1].trim();\n  const paramValue = parseFloat(match[2]);\n\n  // Speichere die Parameter im Objekt\n  parameters[paramName] = paramValue;\n});\n\n// Rückgabe des Parameters-Objekts\nreturn {\n  json: parameters\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        0
      ],
      "id": "a2c952c5-b29a-4cac-9228-38a0dcbfe639",
      "name": "Code10"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.API_URL}}/simulate_dopamine_modulated_stdp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Code10').item.json }}",
        "options": {
          "response": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        0
      ],
      "id": "d29f7f5c-4e26-43c1-b212-242ccf168997",
      "name": "Simulation_API10"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Du bist ein führender Neurowissenschaftler mit fundierter Expertise in der Arbeit mit Simulationssoftware. Deine Aufgabe besteht darin, präzise Simulationsparameter zu bestimmen, die optimal auf ein vorgegebenes Szenario abgestimmt sind.\n\nDein Ziel:\nKonfiguriere die Simulation so, dass sie das Szenario möglichst genau widerspiegelt, robuste wissenschaftliche Erkenntnisse liefert und optimal auf relevante Fragestellungen eingeht.\n\nDein Arbeitsansatz:\n\nAnalysiere das Szenario sorgfältig, um relevante Variablen, Bedingungen und Zielgrößen zu identifizieren, die durch die Simulation abgebildet werden sollen.\nBestimme präzise, wie die Simulationsparameter konfiguriert werden müssen, um eine hohe Genauigkeit und Relevanz für das vorgegebene Szenario zu erreichen.\nFühre die Optimierung so aus, dass Ergebnisse eine maximale Übertragbarkeit auf reale oder hypothetische Situationen garantieren.\nDokumentiere ausschließlich die optimierten Simulationsparameter, um einen direkten Einsatz in der Simulation zu ermöglichen.\nWichtige Anforderungen:\n\nDie Analyse und die Auswahl der Parameter müssen vollständig objektiv, wissenschaftlich fundiert und direkt anwendbar sein.\nDer Output ist strikt auf die relevanten Simulationsparameter zu beschränken.\nVerzichte auf jegliche Einleitung, Erklärungen oder abschließende Kommentare.\n\nSimulationsparameter:\nParameter: Simulation Duration\nBeschreibung: Dauer der Simulation, die die gesamte Netzwerkanalyse betrifft.\nWertebereich: [Min: 1 s, Typisch: 6 s, Max: 60 s]\nEinheit: Sekunden (s)\n\nParameter: taum\nBeschreibung: Membranzeitkonstante, die die zeitliche Entwicklung des Membranpotentials beschreibt.\nWertebereich: [Min: 5 ms, Typisch: 10 ms, Max: 50 ms]\nEinheit: Millisekunden (ms)\n\nParameter: Ee\nBeschreibung: Exzitatorisches Reversialpotential, das den Wert des Membranpotentials für exzitatorische Synapsen angibt.\nWertebereich: [Min: 0 mV, Typisch: 0 mV, Max: 0 mV]\nEinheit: Millivolt (mV)\n\nParameter: vt\nBeschreibung: Spikenschwellenwert, bei dessen Überschreitung ein Aktionspotential ausgelöst wird.\nWertebereich: [Min: -60 mV, Typisch: -54 mV, Max: -50 mV]\nEinheit: Millivolt (mV)\n\nParameter: vr\nBeschreibung: Reset-Potenzial, das das Membranpotenzial nach einem Aktionspotential angibt.\nWertebereich: [Min: -70 mV, Typisch: -60 mV, Max: -55 mV]\nEinheit: Millivolt (mV)\n\nParameter: El\nBeschreibung: Leak-Reversialpotential, das die Stabilität des Membranpotentials im Ruhezustand beschreibt.\nWertebereich: [Min: -80 mV, Typisch: -74 mV, Max: -60 mV]\nEinheit: Millivolt (mV)\n\nParameter: taue\nBeschreibung: Synaptische Zeitkonstante, die die Reaktionsgeschwindigkeit der Synapsen beschreibt.\nWertebereich: [Min: 1 ms, Typisch: 5 ms, Max: 20 ms]\nEinheit: Millisekunden (ms)\n\nParameter: taupre / taupost\nBeschreibung: Zeitfenster für STDP (Spike-Timing-Dependent Plasticity), das für die synaptische Plastizität zwischen Neuronen verantwortlich ist.\nWertebereich: [Min: 10 ms, Typisch: 20 ms, Max: 50 ms]\nEinheit: Millisekunden (ms)\n\nParameter: gmax\nBeschreibung: Maximale synaptische Leitfähigkeit, die die Stärke der synaptischen Verbindungen angibt.\nWertebereich: [Min: 0.001, Typisch: 0.01, Max: 0.1]\nEinheit: Siemens (S)\n\nParameter: dApre\nBeschreibung: Lernrate für die prä-synaptische Spikes, die in STDP-Mechanismen verwendet wird.\nWertebereich: [Min: 0.00001 * gmax, Typisch: 0.01 * gmax, Max: 0.01 * gmax]\nEinheit: -\n\nParameter: dApost\nBeschreibung: Lernrate für die post-synaptische Spikes, die in STDP-Mechanismen verwendet wird.\nWertebereich: [Min: -0.0105 * gmax, Typisch: -0.0105 * gmax, Max: -0.0105 * gmax]\nEinheit: -\n\nParameter: tauc\nBeschreibung: Zerfallszeit für das Dopamin-Eligibility-Trace, das die Dopaminmodulation von neuronalen Netzwerken beeinflusst.\nWertebereich: [Min: 500 ms, Typisch: 1000 ms, Max: 2000 ms]\nEinheit: Millisekunden (ms)\n\nParameter: taud\nBeschreibung: Zerfallszeit für die Dopamin-Konzentration, die die schnelle Dopaminmodulation beschreibt.\nWertebereich: [Min: 100 ms, Typisch: 200 ms, Max: 500 ms]\nEinheit: Millisekunden (ms)\n\nParameter: taus\nBeschreibung: Synaptische Verzögerung, die die Zeit beschreibt, die es braucht, um synaptische Signale zwischen Neuronen zu übertragen.\nWertebereich: [Min: 0.5 ms, Typisch: 1 ms, Max: 5 ms]\nEinheit: Millisekunden (ms)\n\nParameter: epsilon_dopa\nBeschreibung: Dopamin-modulierter Lernfaktor, der die Lernrate in Dopaminmodulationsmodellen beschreibt.\nWertebereich: [Min: 1e-4, Typisch: 5e-3, Max: 1e-2]\nEinheit: -\n\nParameter: input_indices\nBeschreibung: Array, das die Indizes der Eingabe-Signale in der Simulation beschreibt.\nWertebereich: -\nEinheit: -\n\nParameter: input_times\nBeschreibung: Array, das die Zeiten der Eingabe-Signale in der Simulation beschreibt.\nWertebereich: -\nEinheit: Millisekunden (ms)\n\nParameter: mode (initialized)\nBeschreibung: Initialisierter Modus, der während der Simulation verändert wird.\nWertebereich: [Min: 0, Typisch: 1, Max: 1]\nEinheit: -\n\nParameter: s (initial)\nBeschreibung: Initialwert für die Variable s.\nWertebereich: [Min: 1e-10, Typisch: 1e-10, Max: 1e-10]\nEinheit: -\n\nParameter: c (initial)\nBeschreibung: Initialwert für die Variable c.\nWertebereich: [Min: 1e-10, Typisch: 1e-10, Max: 1e-10]\nEinheit: -\n\nParameter: d (initial)\nBeschreibung: Initialwert für die Variable d.\nWertebereich: [Min: 0, Typisch: 0, Max: 0]\nEinheit: -\n\nParameter: dopamine_indices\nBeschreibung: Array, das die Indizes der Dopamin-Signale in der Simulation beschreibt.\nWertebereich: -\nEinheit: -\n\nParameter: dopamine_times\nBeschreibung: Array, das die Zeiten der Dopamin-Signale in der Simulation beschreibt.\nWertebereich: -\nEinheit: Millisekunden (ms)\n\nBeispieloutput:\nsimulation_duration: 6. * second\ntaum: 10. * ms\nEe: 0. * mV\nvt: -54. * mV\nvr: -60. * mV\nEl: -74. * mV\ntaue: 5. * ms\ntaupre: 20. * ms\ntaupost: taupre\ngmax: 0.01\ndApre: 0.01\ndApost: -dApre * taupre / taupost * 1.05\ndApost *= gmax\ndApre *= gmax\ntauc: 1000. * ms\ntaud: 200. * ms\ntaus: 1. * ms\nepsilon_dopa: 5e-3\ninput_indices: array([0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0])\ninput_times: array([500, 550, 1000, 1010, 1500, 1510, 3500, 3550, 4000, 4010, 4500, 4510]) * ms\ns: 100. * mV\nmode: 0\nc: 1e-10\nd: 0\ndopamine_indices: array([0, 0, 0])\ndopamine_times: array([3520, 4020, 4520]) * ms\n--------------------------------------------------------------------------------\nDies ist das zu simulierende Szenario:\n{{ $json.query }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        380,
        0
      ],
      "id": "efe74d25-0044-49d8-8059-fb7df63e6164",
      "name": "Izhikevich_2007"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=Rolle und Kontext: Du bist ein erfahrener Neurowissenschaftler und analysierst eine Simulation basierend auf Brian2 – Izhikevich_2007. Dein Ziel ist es, praxisrelevante Erkenntnisse aus den Daten zu extrahieren, anstatt das Diagramm zu beschreiben.\n\nSimuliertes Szenario: \n{{ $('Workflow Input Trigger').item.json.query }}\nRelevante Parameter: {{ $('Izhikevich_2007').item.json.text }}\n\nAnalyse & Insights (max. 300 Tokens)\nKernaussagen\n\nWelche biologischen oder physikalischen Prozesse spiegeln sich in den Daten wider?\nWelche zentralen Trends oder signifikanten Änderungen sind sichtbar?\nInterpretation & Relevanz\n\nWas bedeuten die Trends für neuronale Dynamiken oder Modellannahmen?\nGibt es unerwartete Abweichungen? Welche Hypothesen könnten sie erklären?\nHandlungsimplikationen\n\nWelche praktischen oder theoretischen Konsequenzen ergeben sich aus der Analyse?\nWie könnten die Erkenntnisse zur Modellverbesserung oder Experimentplanung beitragen?\nZusätzliche Hinweise:\n\nNutze wissenschaftliche Terminologie mit präzisen quantitativen Aussagen.\nVermeide lange Diagrammbeschreibungen – der Fokus liegt auf der Bedeutung der Daten.\nDie Ausgabe darf maximal 300 Tokens umfassen.\n",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1440,
        0
      ],
      "id": "8dd84f08-3cb5-477e-a488-5d77efd8cdf9",
      "name": "OpenAI10",
      "credentials": {
        "openAiApi": {
          "id": "93L9c3FnEnOvHs4I",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "={{$env.Simulation_LLM}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        380,
        220
      ],
      "id": "007ef51f-07a4-460c-b431-66b95e056521",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "pG95LwYPd3nZ3zAb",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appt3sJYWJGLERh8D",
          "mode": "list",
          "cachedResultName": "RAD - Sys - n8n",
          "cachedResultUrl": "https://airtable.com/appt3sJYWJGLERh8D"
        },
        "table": {
          "__rl": true,
          "value": "tblD1v9qA3B96bBgp",
          "mode": "list",
          "cachedResultName": "Simulationsergebnisse",
          "cachedResultUrl": "https://airtable.com/appt3sJYWJGLERh8D/tblD1v9qA3B96bBgp"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Simulationsmodell": "Izhikevich_2007",
            "Szenario": "={{ $('Workflow Input Trigger').item.json.query }}",
            "Simulationsparameter": "={{ $('Izhikevich_2007').item.json.text }}",
            "Simulationsergebnisse": "={{ $json.content }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Simulationsmodell",
              "displayName": "Simulationsmodell",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Szenario",
              "displayName": "Szenario",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Simulationsparameter",
              "displayName": "Simulationsparameter",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Simulationsergebnisse",
              "displayName": "Simulationsergebnisse",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1680,
        -180
      ],
      "id": "327a2502-03eb-4092-a14e-2b324d81659c",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "xWAwTKgY6HGNzEsl",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd4a689f-cd05-40b2-8167-76a2c0e9b2bc",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2000,
        0
      ],
      "id": "a01967dc-fd00-4faf-ad1d-0b60cb46079a",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-16T20:13:50.000Z",
  "versionId": "7b288686-0d0d-424a-b0ed-8a437da6daba"
}