workflows/73LuBQENC2ABsrUz.json
{
  "active": false,
  "connections": {
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Research_Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia1": {
      "ai_tool": [
        [
          {
            "node": "Research_Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Sementic Scholar API1": {
      "ai_tool": [
        [
          {
            "node": "Research_Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "PubMed API1": {
      "ai_tool": [
        [
          {
            "node": "Research_Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "Research_Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-20T17:59:56.832Z",
  "id": "73LuBQENC2ABsrUz",
  "meta": {
    "templateId": "VMiAxXa3lCAizGB5f7dVZQSFfg3FtHkdTKvLuupqBls=",
    "templateCredsSetupCompleted": true
  },
  "name": "Research_Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        40,
        500
      ],
      "id": "029d1e4c-8dc7-4823-88f2-9696ecb474c9",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "93L9c3FnEnOvHs4I",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Durchsuche den Cyberspace mithilfe deiner APIs/Tools nach neurowissenschaftlichen Informationen/Studien zu dieser Fragestellung:\n{{ $('Workflow Input Trigger').item.json }}\nExtrahiere relevante wissenschaftliche und technische Daten und liefere eine objektive, faktenbasierte Zusammenfassung der wichtigsten Ergebnisse, ohne eine Einleitung, Schlussfolgerung oder Erklärungen hinzuzufügen. Achte darauf, alle Informationen präzise und sachlich zu formulieren, dabei jedoch keine persönlichen oder subjektiven Meinungen zu äußern.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        200,
        260
      ],
      "id": "7ba668db-6b90-4fd1-8620-f95ce27bcb9e",
      "name": "Research_Agent1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        720,
        560
      ],
      "id": "d5a94f73-6d44-4303-902c-ad77f009ae48",
      "name": "Wikipedia1"
    },
    {
      "parameters": {
        "name": "Sementic_Scholar_API",
        "description": "=Die Semantic Scholar API liefert Abstracts und Metadaten aus wissenschaftlichen Artikeln und ist ideal für akademische Forschung und die Erforschung interdisziplinärer Themen. Ihre semantische Suche findet relevante Arbeiten basierend auf der Bedeutung, nicht nur auf Schlüsselwörtern.\n\nWann verwenden:\n\nFür peer-reviewed akademische Forschung\nUm relevante Arbeiten aus verschiedenen Fachbereichen zu entdecken\nStärken:\n\nHochwertige, peer-reviewed Inhalte\nErweiterte semantische Suche\nDetaillierte Metadaten (Zitationen, Referenzen)\nSchwächen:\n\nEingeschränkt bei medizinischen/biomedizinischen Themen (verwende PubMed)\nNicht geeignet für allgemeines Wissen (verwende Wikipedia)\n\nHinweis: \nDieses Tool muss mit spezifischen Schlüsselwörtern zum Thema geprompt werden.\nDieses Tool sollte nicht in einem kurzen Zeitraum mehrfach aufgerufen werden.",
        "workflowId": {
          "__rl": true,
          "value": "VGEXh6JqDtPxXOxo",
          "mode": "list",
          "cachedResultName": "Sementic Scholar API"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Keyword": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Keyword', `Keyword mit dem nach spezifischen Studien gesucht wird. `, 'string') }}"
          },
          "matchingColumns": [
            "Input"
          ],
          "schema": [
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        360,
        560
      ],
      "id": "d4746d3e-b789-4978-b1ed-5519a94a7d0d",
      "name": "Sementic Scholar API1"
    },
    {
      "parameters": {
        "name": "Pub_Med_API",
        "description": "=Die PubMed API bietet Zugriff auf Abstracts, Metadaten und Referenzen aus Millionen biomedizinischer Artikel und ist ideal für medizinische Forschung und klinische Studien.\n\nWann verwenden:\n\nFür zuverlässige, peer-reviewed biomedizinische Forschung\nUm Artikel zu spezifischen medizinischen Themen oder Behandlungen zu finden\nZur Zitation und Metadatensammlung\n\nStärken:\nUmfangreiche Datenbank peer-reviewed Artikel\nPräzise Suche mit Filtern\nRegelmäßig aktualisiert\n\nSchwächen:\nEingeschränkter Zugriff auf Volltexte\nKomplexe Suchsyntax\nNicht direkt kompatibel mit KI/ML-AnwendungeM\n\nHinweis: Dieses Tool muss mit spezifischen Schlüsselwörtern zum Thema geprompt werden.",
        "workflowId": {
          "__rl": true,
          "value": "gTLWuvBMcEt6I3RY",
          "mode": "list",
          "cachedResultName": "Pub_Med_API_Sub_Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Keyword": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Keyword', `Keyword mit dem nach spezifischen Studien gesucht wird. `, 'string') }}"
          },
          "matchingColumns": [
            "term"
          ],
          "schema": [
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        560,
        560
      ],
      "id": "ce02c5e4-7dd4-4526-a914-6bdd2d2200b2",
      "name": "PubMed API1"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Research Thema"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -100,
        260
      ],
      "id": "e22ef9eb-9217-48e5-8f52-170bacfe0e8c",
      "name": "Workflow Input Trigger"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-02-17T17:26:48.000Z",
  "versionId": "ccfa5208-7a6e-45c6-b4a5-34dd25c78717"
}